{
	"address"                 : "0.0.0.0",
	"allowDelete"             : false,
	"autoPlayTimer"           : 9000,
	"autoStart"               : false,
	"cacheSeconds"            : 2678400,
	"port"                    : 8000,
	"roots"                   : [
		{"name": "Photos", "path": "N:\\Pictures"}
	],
	"scrollRateLimitMs"       : 100,
	"streamingChunkBytes"     : 10485760,
	"thumbBackgroundColor"    : "#242321",
	"thumbnailPorts"          : [8001, 8002, 8003, 8004, 8005, 8006, 8007, 8008, 8009],
	"thumbnailWidthHeight"    : [400, 400],
	"videoThumbnailTimeStamps": ["00:00:10.000", "00:00:01.000", "00:00:00.000"],
	"zoomSpeed"               : "180"
}
